.container-card {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
mat-card {
  margin-bottom: 1rem;
  min-width: 200px;
  max-width: 400px;
}
